# Ignore Python cache
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore VS Code settings
.vscode/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore environment files
.env
*.env

# Ignore temporary files
*.tmp
~$*

# Ignore the images folder under the lectures directory (use forward slashes and a leading slash to anchor to repo root)
/lectures/HandsOn_Chapter2/images/
/lectures/HandsOn_Chapter3/images/classification/
/lectures/HandsOn_Chapter5/images/svm/
# Ignore the datasets folder under the lectures directory (use forward slashes and a leading slash to anchor to repo root)
/lectures/HandsOn_Chapter2/datasets/
/lectures/HandsOn_Chapter2/datasets/housing/
/lectures/HandsOn_Chapter2/datasets/titanic/
/lectures/HandsOn_Chapter2/datasets/spam/spam/
/lectures/HandsOn_Chapter2/datasets/spam/easy_ham/
/lectures/HandsOn_Chapter3/datasets/
/lectures/HandsOn_Chapter3/datasets/spam/
/lectures/HandsOn_Chapter3/datasets/titanic/
/lectures/HandsOn_Chapter5/datasets/
/lectures/HandsOn_Chapter8/images/
/lectures/HandsOn_Chapter9/images/
*.pkl